#table-contact {
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
}

@media screen and (max-width:900px) {
    #table-contact {
        width: 100%;
        overflow-y: scroll;
    }
}