* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feedback-sidebar {
    position: fixed;
    top: 25%;
    right: -390px;
    width: 390px;
    height: 430px;
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    transition: right 0.3s ease-in-out;
}

.feedback-sidebar.open {
    right: 0;
}

.feedback-button {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    background-color: #281859;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 100px;
}
#submit-btn{
    transform: rotate(0deg) !important;
    padding: 8px 18px;
    font-size: 15px;
    color: white;
    background-color: #0B5ED7;
    border: none;
    border-radius: 5px;
    margin: 5px 0px 0px 20px;
}

.feedback-button.open {
    right: 361px;
}

.feedback-sidebar button {
    transform: rotate(-90deg);
    right: -27px;
}

.feedback-button.open {
    right: 360px;
    margin-top: 100px;
}

.sidebar-content {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
}

.sidebar-content h2 {
    text-align: center;
    font-size: 28px;
}

.feed_back_form {
    margin: 10px 20px;
}

.feed_back_form select {
    width: 80%;
    margin-top: 10px;
}
.feed_back_form textarea {
    width: 80%;
    margin-top: 10px;
    padding: 5px;
}

.feedback-text {
    margin: 5px;
}

.close-button {
    background-color: #FFFFFF;
    border: none;
    padding: 5px;
    margin-left: 350px;
    cursor: pointer;
}

.close-button i {
    color: #281859;
    font-size: 20px;
}

@media (max-width: 768px) {
    .feedback-sidebar {
        width: 100%;
        right: -100%;
    }

    .feedback-sidebar.open {
        right: 0;
    }

    .feedback-button {
        right: 10px;
    }

    .feedback-button.open {
        right: 91%;
    }

    .close-button {
        display: inline;
        background-color: #C9E4FF;
        border: none;
        padding: 5px;
        margin-left: 280px;
        cursor: pointer;
    }

    .close-button i {
        color: #281859;
        font-size: 20px;
    }
}