/* Myapplication.module.css */ 
.applicationTableHeader {
  background-color: #281859;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.applicationTableImg {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.applicationTable {
  border: 1px solid #281859;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 85%;
}

.applicationTable table {
  width: 100%;
}

.applicationTable td,
.applicationTable th {
  color: #281859;
  padding: 10px;
}

.applicationTable td {
  text-align: center;
  vertical-align: middle;
}

.applicationTable td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

.applicationTable th {
  background-color: #aadfe1;
  font-weight: 300;
}

.applicationTable tr:nth-child(2n) {
  background-color: white;
}

.applicationTable tr:nth-child(2n + 1) {
  background-color: #bce6e8;
}

@media screen and (max-width: 700px) {
  .applicationTable table,
  .applicationTable tr,
  .applicationTable td {
    display: block;
  }

  .applicationTable td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }

  .applicationTable td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }

  .applicationTable td:not(:first-child):before {
    color: #69bfc4;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }

  .applicationTable td:nth-child(2):before {
    content: "Item Name:";
  }

  .applicationTable td:nth-child(3):before {
    content: "Item Description:";
  }

  .applicationTable td:nth-child(4):before {
    content: "Status:";
  }

  .applicationTable td:nth-child(5):before {
    content: "Appointment Date:";
  }
  .applicationTable td:nth-child(6):before {
    content: "Appointment Time:";
  }
  .applicationTable td:nth-child(7):before {
    content: "Complained:";
  }
  .applicationTable td:nth-child(8):before {
    content: "Verified:";
  }
  .applicationTable td:nth-child(9):before {
    content: "Station Visited:";
  }
  .applicationTable td:nth-child(10):before {
    content: "Completed:";
  }
  .applicationTable td:nth-child(11):before {
    content: "Reject:";
  }

  .applicationTable tr {
    padding: 10px 0;
    position: relative;
  }

  .applicationTable tr:first-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .applicationTableHeader {
    background-color: transparent;
    color: #8acfcf;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .applicationTable-img {
    border: 3px solid;
    border-color: #aadfe1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  .applicationTable td:first-child {
    background-color: #a4d2d4;
    border-bottom: 1px solid #69bfc4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }

  .applicationTable td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }

  .applicationTable td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }

  .applicationTable td:last-child {
    padding-bottom: 1rem !important;
  }

  .applicationTable tr {
    background-color: white !important;
    border: 1px solid #aadfe1;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .applicationTable {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}
